In [1]:
import pandas as pd
from pandas import DataFrame
import cPickle as pickle

In [11]:
with open('df_amenities_neighbourhood_all.pkl') as f:
    df = pickle.load(f)

In [12]:
df.head(2)

,id,name,summary,latitude,longitude,space,description,neighborhood_overview,notes,transit,...,atm,cinema,hospital,nightclub,park,mall,gallery,museum,supermarket,bus_stop
0,8238835,Cozy BR + EnSuite @ York University,We are located at York University. Close to Yo...,43.768740,-79.502254,The house is located less than 100 meters from...,We are located at York University. Close to Yo...,"Our house is ideal for students, professionals...","Please note, this room does not have a window....",The bus stop is right in front of our home on ...,...,509,5812,5400,1060,3269,7227,-1,9607,1709,72
1,16162206,"Large sunny bedroom, 3d floor (3A)",This room is one of 4 bedrooms available in a ...,43.765573,-79.492943,NaN,This room is one of 4 bedrooms available in a ...,NaN,NaN,NaN,...,1212,5480,4588,1151,2694,6488,-1,9476,1213,77